# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/
Debug/
Release/

# NuGet
packages/
*.nupkg
project.lock.json
project.assets.json

# Logs
*.log

# Sistema
Thumbs.db
.DS_Store

# Config local
appsettings.Development.json